#mySidebar {
    height: auto !important;
    font-family: 'Arima Madurai', cursive !important;
}
.menu-container {
    position: fixed !important;
}
.background-img {
    background-image: url(../images/mainpic.jpg);
    min-height: -webkit-fill-available;
    background-size: cover;
}
.name-text {
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
.name {
    color: white;
    font-weight: 100;
    letter-spacing: -5px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
.goa-text {
    text-align: center;
    font-weight: 500;
    color: white;
}
.date-text {
    text-align: center;
    font-weight: 100;
    color: white;
}
#countdown {
    color: hotpink;
    font-family: monospace !important;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 2.5em;
}
.header-text {
    text-align: center;
    color: rgba(0, 0, 0, 0.36);
    font-weight: 100;
    margin-bottom: 25px;
}
.gallery-text {
    text-align: center;
    margin: 30px 0px 30px 0px;
    color: rgba(0, 0, 0, 0.36);
    font-weight: 100;
}
.sunnykomal-container {
    background-image: url(../images/homepic.jpeg);
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .85;
    background-size: 180%;
}
.timeline-container {
    display: flex;
    flex-direction: column;
}
.accommodation-container {
    text-align: center;
}
.accommodation-container > img {
    width: 75% !important;
    padding: 10px 0px 5px 0px;
}
.travel-container .header-text, .travel-container p, .travel-container h4 {
    text-align: center;
}
.travel-tab-container {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ordinal {
    vertical-align: super;
    font-size: 12px;
}
hr {
    margin: 50px 0px 30px 0px !important;
}
footer{
    padding-top: 100px;
}
.guestbook-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.message-button {
    color: #fff;
    background-color: #d18eb6;
    border-color: #d18eb6;
}
.card {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    min-height: 215px;
    overflow-x: auto;
    border: none !important;
}
    .card::-webkit-scrollbar {
        display: none;
    }

.card-content {
    border: #D18EB5 1px solid;
    min-width: 215px;
    margin: 5px;
    padding: 10px;
    color: #34495e;
    border-radius: 10px;
}

.card-container{
    margin-top: 2em;
}
.div-message{
    font-size: 1.1em;
}
.div-name {
    position: absolute;
    bottom: 15px;
    width: 100%;
    font-size: 1.4em;
    font-family: 'Arima Madurai', cursive !important;
}

/*MOBILE START*/
@media only screen and (max-width: 992px) {
    .menu-container button {
        color: gray !important;
    }
    .background-img {
        background-position: 50%;
        height: 100vh;
    }
    .name {
        font-size: 3.7em !important;
    }
    .name-text {
        left: 25px;
    }
    .sunnykomal-container {
        background-size: 180%;
    }
    .goa-text {
        margin: 30px 0px 30px 0px;
        font-size: 2.7em !important;
    }
    .date-text {
        margin: 30px 0px 30px 0px;
        font-size: 2.2em !important;
    }
    #countdown {
        padding-top: 45px;
    }
    .header-text {
        font-size: 2.7em !important;
    }
    .gallery-container {
        z-index: -1;
    }
    .gallery-text {
        font-size: 2.7em !important;
    }
    .content{
        padding-top: 20px !important;
    }
    .time div {
        font-size: 1em;
    }
    .dresscode {
        font-size: .75em !important;
    }
    .timeline {
        padding: 40px 0;
    }
    .timeline-date {
        margin-left: 15px;
    }
    .content > img {
        width: 35% !important;
        padding-top: 15px !important;
    }
    .timeline ul li {
        padding: 35px 40px;
    }
    .accommodation-container .accommodation-details {
        padding: 10px 30px 0px 30px !important;
    }

}
/*MOBILE END*/


/*MOBILE LANDSCAPE START*/
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {
    .content > img {
        width: 25% !important;
    }
    /*.date-container {
        text-align: center;
    }*/
    .timeline ul li:nth-child(even) .time {
        /*text-align: end;*/
        width: 235px;
    }
    .timeline ul li:nth-child(odd) .time {
        /*text-align: start;*/
        width: 235px;
    }
}
/*MOBILE LANDSCAPE END*/



/*Tablets (iPads) START*/
@media only screen and (min-device-width: 767px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .menu-container button {
        color: gray !important;
    }
    .background-img {
        background-position: 50%;
    }
    .name {
        font-size: 3.7em !important;
    }
    .name-text {
        left: 25px;
    }
    .goa-text {
        margin: 30px 0px 30px 0px;
        font-size: 2.7em !important;
    }
    .date-text {
        margin: 30px 0px 30px 0px;
        font-size: 2.2em !important;
    }
    #countdown {
        padding-top: 45px;
    }
    .header-text {
        font-size: 2.7em !important;
    }
    .gallery-container {
        z-index: -1;
    }
    .gallery-text {
        font-size: 2.7em !important;
    }
    .content {
        padding-top: 20px !important;
    }
    .time div {
        font-size: 1em;
    }
    .dresscode {
        font-size: .75em !important;
    }
    .timeline {
        padding: 40px 0;
    }
    .timeline-date {
        margin-left: 15px;
    }
    .timeline ul li {
        padding: 35px 40px;
    }
    .accommodation-container .accommodation-details {
        padding: 10px 30px 0px 30px !important;
    }
    .content > img {
        width: 25% !important;
        padding-top: 15px !important;
    }
    .date-container {
        text-align: center;
    }
    .timeline ul li:nth-child(even) .time {
        text-align: end;
        width: 235px;
    }
    .timeline ul li:nth-child(odd) .time {
        text-align: start;
        width: 235px;
    }

}
/*Tablets (iPads) END*/



/* Large devices (laptops/desktops, 992px and up) START */
@media only screen and (min-width: 992px) {
    .menu-container button {
        color: white !important;
    }
    #mySidebar {
        width: 200px;
        background-color: rgba(0, 0, 0, 0.39);
        color: white;
        font-size: 18px;
    }
    #mySidebar > button {
        color: white;
        position: relative;
        background: black;
    }
    .mainpic-nav {
        height: 100%;
        width: 55%;
        background-color: #fff;
        position: fixed !important;
        z-index: -1;
        overflow: auto
    }
    .background-img {
        background-position: 60%;
    }
    .name {
        font-size: 5em !important;
    }
    .name-text {
        left: 35px;
        position: fixed;
    }
    .goa-text {
        font-size: 3.7em !important;
    }
    .date-text {
        font-size: 2.8em !important;
    }
    .date-container {
        text-align: center;
    }
    .gallery-text {
        font-size: 60px;
    }
    .header-text {
        font-size: 60px;
    }
    .timeline {
        padding: 15px 0;
    }
    .time div {
        font-size: 1.2em;
    }
    .dresscode {
        font-size: 1em !important;
    }
    .timeline ul li:nth-child(even) .time {
        text-align: end;
        width: 235px;
    }
    .timeline ul li:nth-child(odd) .time {
        text-align: start;
        width: 235px;
    }
    .timeline-date {
        margin-left: 5px;
    }
    .content > img {
        width: 50% !important;
    }
    .timeline ul li {
        padding: 15px 40px;
    }
    .accommodation-container .accommodation-details {
        padding: 10px 55px 0px 55px !important;
    }
}
/* Large devices (laptops/desktops, 992px and up) END */


/*LARGE DESKTOP START*/
@media (min-width: 1200px) {
}
/*LARGE DESKTOP END*/



/*SLIDESHOW START*/
.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%);
}
/*SLIDESHOW END*/


/*TIMELINE START*/

.timeline {
    position: relative;
    box-sizing: border-box;
}
.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 75%;
    background: #c5c5c5;
}
.timeline ul {
    padding: 0;
    margin: 0;
}
.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    box-sizing: border-box;
}
.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}
.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}
.timeline-date {
    font-family: 'Roboto Slab', serif !important;
    text-transform: uppercase;
    font-size: 1.2em !important;
    border-bottom: 2px solid rgba(156, 46, 56, 0.82);
    color: rgba(156, 46, 56, 0.82) !important
}
.content {
    padding-bottom: 20px;
}
.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 27px;
    right: -6px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgb(55, 192, 128);
}
.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px;
    left: -4px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgb(233, 33, 99);
}
.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    right: -240px;
    width: 235px;
    margin: 0;
    padding: 8px 16px;
    color: rgba(0, 0, 0, 0.79);
    border-radius: 18px;
    font-family: 'Roboto Slab', serif !important;
    text-transform: uppercase;
    font-size: 1em !important;
}
.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    left: -240px;
    width: 235px;
    margin: 0;
    padding: 8px 16px;
    color: rgba(0, 0, 0, 0.79);
    border-radius: 18px;
    font-family: 'Roboto Slab', serif !important;
    text-transform: uppercase;
    font-size: 1em !important;
}
@media(max-width:1000px) {
    .timeline {
        width: 100%;
    }
}
@media(max-width:767px) {
    .timeline {
        width: 100%;
        padding-bottom: 0;
    }
    .timeline:before {
        left: 20px;
        height: 75%;
    }
    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
    }
    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before {
        top: -18px;
        left: 16px;
    }
    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time {
        top: -30px;
        left: 30px;
        right: inherit;
    }
}

/*TIMELINE END*/


/*TAB START*/

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    width: 85%;
}
#Surat {
    text-align: -webkit-center;
}
#Mumbai {
    text-align: -webkit-center;
}
.tabbuttons {
    width: max-content;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

/*TAB END*/