<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Sunny &amp; Komal | 02.02.2020</title>
    <link runat="server" rel="shortcut icon" href="icon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="icon.ico" type="image/ico" />
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:400,700|Roboto+Slab:400,700&display=swap" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/w3/w3.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)

</head>
<body>
    <div class="renderBody">
        @RenderBody()
    </div>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
